{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"> </script>
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
	<title>
		Real Time Graph app
	</title>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-10 mx-auto mt-5">

				<h1 id="app">{{ text }}</h1>
				<div id="myChart"></div>

			</div>
		</div>
	</div>
	<div>
		<label for=""> Valor numero a enviar</label>
		<input type="number" id="number" min="1" max=25 value="20" step="2" class="number">
		<input type="button" id="send" value="Ajustar" onclick="enviar()">
	</div>
	<div>
		<label class="resultado" id="resultado">{{text}} </label>
	</div>

<script>


function getData(){
    return Math.random();
}

Plotly.newPlot("myChart",{
    "data": [{ "y": [1] }],
    "layout": { "width": 800, "height": 300}
});

var cnt = 0;


setInterval(function(){
    Plotly.extendTraces('myChart',{y:[[getData()]]},[0]);
    cnt++;

    if(cnt >120){
        Plotly.relayout("myChart",{
            xaxis:{
                range:[cnt-120,cnt]
            }
        });
    }
},100);




</script>

</body>

</html>
