
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"> </script>

	<title>
		Real Time Graph app
	</title>
</head>
<body>
<h1> Simulador de Ventilador v1</h1>
	<div class="container">
		<div>
			<label for=""> Cst (ml/cmH2O)</label>
			<input type="number" id="compliance" min="5" max=200 value="60" step="1" inputmode="numeric" pattern="[0-9]*" class="number">
			<label for=""> Rva (cmH20/I/s)</label>
			<input type="number" id="resistence" min="2" max=50 value="8" step="1" inputmode="numeric" pattern="[0-9]*" class="number">
			
		</div>
		<div class="row">
			<div class="col-10 mx-auto mt-5">

				<h1 id="app">{{ text }}</h1>
				<div max-width="100%"><canvas id="presion" width="400" height="200" ></canvas></div>
				<canvas id="flujo" max-width="200" max-height="100"></canvas>
				<canvas id="volume" max-width="200" max-height="100"></canvas>

			</div>
		</div>
	</div>

	<div>
		<label class="resultado" id="resultado">{{text}} </label>
	</div>

<script>

/* var socket2 = new WebSocket('ws://localhost:8000/ws/graph/');

document.getElementById("number").onchange = function() {myFunction()};

function enviar() {
  var x = document.getElementById("number");
  console.log("button-tttt");
	socket2.send(JSON.stringify({
		'message':x.value
	}));
}

socket2.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
          } */

</script>

</body>
<script type="text/javascript"src="main.js"></script>

</html>
